
/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #e8ecee;
}

a {
  color: black;
  /* color de letra */
  text-decoration: none;
  /* sin subrayado */
}

a:hover {
  color: red;
  /* nuevo color de letra al pasar el cursor */
}

main {
  padding: 50px;
}

.container {
  width: 100%;
  height: 700px;
  position: relative;
  overflow: hidden;
}

.animacion {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: change-image 20s alternate infinite;
}

.animacion:nth-child(1) {
  animation-delay: 1s;
}

.animacion:nth-child(2) {
  animation-delay: 10s;
}

.animacion:nth-child(3) {
  animation-delay: 20s;
}

.animacion:nth-child(4) {
  animation-delay: 30s;
}

.animacion:nth-child(5) {
  animation-delay: 40s;
}

@keyframes change-image {
  10% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.elegant-line {
  border: none;
  border-top: 1px solid #f12207;
  margin: 20px 0;
}

/* historia*/
.section-historia {
  background-color: #d6dde2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.historia-parrafo {
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 40px;
  max-width: 800px;
}

.equipos-lista {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Ajustar las columnas para que se adapten mejor */
  grid-gap: 20px;
  list-style: none;
  padding: 0;
}

.mercedes {
  text-decoration: none;
  color: inherit; /* Mantener el color del texto heredado */
  text-align: center; /* Centrar el texto */
}

.mercedes:hover {
  color: #0ce7c3;
}

.equipos-lista li {
  display: flex;
  flex-direction: column; /* Colocar los elementos en una columna */
  align-items: center; /* Centrar los elementos horizontalmente */
  padding: 1rem;
  background-color: #f8f8f8;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(1, 1, 1, 0.1); /* Ajustar la sombra para que sea menos intensa */
}

.equipos-lista img {
  width: 155px; /* Ancho fijo para la imagen */
  height: auto;
  margin-bottom: 0.5rem; /* Espacio entre la imagen y el texto */
}

/* estos estilos pertenecen al los acordeones */
.noticias {
  display: flex;
  justify-content: space-between; /* Distribuye las noticias principales y pequeñas */
  flex-wrap: wrap; /* Permite que los elementos se ajusten automáticamente */
}

.noticia-principal {
  width: 60%;
  margin-bottom: 20px; /* Espacio entre la noticia principal y las noticias pequeñas */
  border: 1px solid #ccc; /* Borde para la noticia principal */
  border-radius: 5px; /* Esquinas redondeadas */
  padding: 10px; /* Espacio interno */
  text-align: center;
  max-height: 800px;
}

.noticia-principal p {
  text-align: justify;
}

.noticias-pequenas {
  width: calc(40% - 20px); /* Ancho para las noticias pequeñas */
  /* Resta el margen derecho para evitar desbordamiento */
  display: flex;
  flex-direction: column;
}

.noticia-pequena {
  margin-bottom: 20px; /* Espacio entre cada noticia pequeña */
  border: 2px solid #ccc; /* Borde para cada noticia pequeña */
  border-radius: 5px; /* Esquinas redondeadas */
  padding: 10px; /* Espacio interno */
  text-align: center;
}

.noticia-pequena:hover {
  border-color: red; /* Cambio de color del borde al pasar el mouse */
}

.noticia-pequena p {
  text-align: justify;
}

.noticia-principal img,
.noticia-pequena img {
  max-width: 100%; /* Ajusta el ancho máximo de la imagen */
  height: auto; /* Permite que la altura se ajuste automáticamente */
  display: block; /* Elimina el espacio adicional debajo de la imagen */
  border-radius: 5px; /* Esquinas redondeadas */
  margin-bottom: 10px; /* Espacio entre la imagen y el texto */
}

/* segunda parte de noticias al contratio */

.noticias1 {
  display: flex;
}

.noticias-pequenas1 {
  flex: 1;
  /* Ocupa todo el espacio restante */
  margin-right: 20px;
  /* Espacio entre las noticias pequeñas y la noticia principal */
}

.noticia-pequena1 img {
  max-width: 100%; /* Ajusta el ancho máximo de la imagen */
  height: auto; /* Permite que la altura se ajuste automáticamente */
  display: block; /* Elimina el espacio adicional debajo de la imagen */
  border-radius: 5px; /* Esquinas redondeadas */
  margin-bottom: 10px; /* Espacio entre la imagen y el texto */
}
@keyframes titileo {
  0% {
    box-shadow: 0 0 10px #04da04;
  }

  50% {
    box-shadow: 0 0 20px #07ad07;
  }

  100% {
    box-shadow: 0 0 10px #023002;
  }
}

.noticia-principal1 {
  width: 60%;
  /* Ancho fijo para la noticia principal */
  margin-left: 20px;
  /* Espacio entre la noticia principal y las noticias pequeñas */
  border: 5px
    /*solid #036b11*/
  ;
    /* Borde para la noticia principal */
  border-radius: 5px;
  /* Esquinas redondeadas para la noticia principal */
  max-height: 620px;
  padding: 10px;
  /* Espacio interno para la noticia principal */
  box-shadow: 0 0 10px #00FF00 inset, 0 0 10px 0px #000000 inset;
  /* Resplandor verde en las orillas */
  animation: titileo 2s infinite;
  /* Efecto de animación de titileo */
}

.videonotiprin1 iframe {
  width: 100%;
  /* Video ocupa el 100% del ancho del contenedor */
  height: 450px;
  /* Altura fija del video */
}

/* .noticia-principal1 img {
  max-width: 100%;
  height: auto;
} */

.noticia-pequena1 {
  margin-bottom: 20px;
  /* Espacio entre cada noticia pequeña */
  border: 1px solid #ccc;
  /* Borde para las noticias pequeñas */
  border-radius: 5px;
  /* Esquinas redondeadas para las noticias pequeñas */
  padding: 10px;
  /* Espacio interno para las noticias pequeñas */
}

.noticia-pequena1 img {
  max-width: 100%;
  height: auto;
}


/* estilo para el formulario */

.section-formu {
  background-color: #8f4343;
  background-image: url("../assets/fondoformu.jpg");
  background-size: cover;
  background-position: center;
  color: #FFF;
  padding: 40px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 80%;
  margin: auto;
  text-align: center;
}

.section-formu h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.section-formu form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-formu label {
  font-size: 1.2em;
  margin-bottom: 10px;
  display: block;
}

.section-formu input,
textarea {
  font-size: 1.2em;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  width: 100%;
  max-width: 500px;
  background-color: #FFF;
  color: #333;
}

.section-formu .boton-enviar {
  font-size: 1.2em;
  border-radius: 50px;
  padding: 15px 60px;
  background-color: #E10600;
  color: #FFF;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.section-formu .boton-enviar:hover {
  background-color: #18171700;
  color: #0ce7c3;
  transform: scale(1.1);
}

.section-formu .boton-enviar::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #0a0a0a;
  opacity: 0.3;
  transition: all 0.3s ease-in-out;
}

.section-formu .boton-enviar:hover::after {
  width: 100%;
}

