@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');
* {
  box-sizing: border-box;
  
}

.circuitos-lista {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    list-style: none;
    padding: 0;
}

.circuitos-lista li {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #f8f8f8;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(224, 10, 10, 0.473);
   font-family: "Exo 2", sans-serif;

}
.circuitos-lista li:hover{
	 color: #ff0000;
	 transform: scale(1.02);
	  box-shadow: 0px 2px 20px 10px rgba(247, 141, 141, 0.4);
	   border-radius: 20px;
    transition: all 0.3s ease 0s;
	}

.circuitos-lista li.no-hover:hover {
    color: initial;
    transform: none;
    box-shadow: none;
    border-radius: 0;
}
.overlay {
    position: fixed; /* Cubre toda la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 9997; 
    display: none;
}

.overlay.visible {
    display: block; 
}
.circuitos-info.visible {
    display: block; 
}
.circuitos-lista img {
    margin-right: 1rem;
    width: 100%;
    max-width: 200px;
    height: auto;
     border-radius: 15px;
}

.circuitos-info {
	 z-index: 9998; 
    display: none;
    transition: opacity 0.3s ease;
    position: fixed;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #e04f4a;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #EF3B36);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #EF3B36);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 80%;
    margin: 10px;
}

.circuitos-lista li img {
    vertical-align: middle;
    margin-right: 10px;
}

.cerrar {
    position: absolute;
    top: 12px;
    right: 3px;
    cursor: pointer;

}

.info {
    margin: 10px;

}

.cerrar img {
    max-width: 15px;

}

section+div {

    padding: 8%;
}

.circuitos-div h1 {
    text-align: center;

}

.circuitos-div  {
   padding:100px 100px;
margin-top:30px;
}
.start{
	width:30%;
  background:#ff0000a3;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  font-family: "Lucida Sans Unicode", "Lucida Grande";
  margin: 10px;
  border-radius:10px;
}


.start:hover{
  background:#fff;
  color:#e43e3e;
}

.start:before,.start:after{
content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #d81c1c;
  transition:400ms ease all;
}

.start:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.start:hover:before,.start:hover:after{
  width:100%;
  transition:800ms ease all;
}

.parar{
	width:30%;
  background:#fff;
  color:#ff0000a3;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  font-family: "Lucida Sans Unicode", "Lucida Grande";
  margin: 10px;
  border-radius:10px;
  border: solid 1px;
}

.parar:hover{
  background:#ff0000a3;
  color:#fff;
}

.parar:before,.parar:after{
content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #efeaea;
  transition:400ms ease all;
}

.parar:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.parar:hover:before,.parar:hover:after{
  width:100%;
  transition:800ms ease all;
}

.cronometro_div{
	
		text-align:center;
	margin-top:30px;
}

.cronometro_div p{
   font-family: "Frijole", system-ui;
 font-weight: 100;
  font-style: normal;
 	
}

.cronometro_div #cronometro{
font-size:70px;
 	
}


.cronometro_div h3{
font-family: "Permanent Marker", cursive;
font-style: normal;
font-size: 50px;	
}

.scores{
	margin-top:15px;
	margin: 5px;
   border-radius:10px;
   height:60px;
   background: #EABE3F;
   color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size:1.6em;
    font-weight: 400;
    line-height: 45px;
    margin: 0 auto 2em;
    max-width: 50%;
    position: relative;
    text-decoration: none;
    width: 100%;
    font-family: "Lucida Sans Unicode", "Lucida Grande";

    @media (min-width: 400px) {
        display: inline-block;
        margin-right: 2.5em;

        &:nth-of-type(even) {
            margin-right: 0;
        }
    }

    @media (min-width: 600px) {
        &:nth-of-type(even) {
            margin-right: 2.5em;
        }

        &:nth-of-type(5) {
            margin-right: 0;
        }
    }

    &:hover {
        text-decoration: none;
    }
    
    
}
.scores {
    border: 0 solid;
    box-shadow: inset 0 0 20px #EABE3F;
    outline: 1px solid;
    outline-color: #EABE3F;
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.scores:hover {
   border: 1px solid;
    box-shadow: inset 0 0 20px #EABE3F,
        0 0 20px #EABE3F;
    outline-color: #EABE3F;;
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #EABE3F;
}


.formScore{
	
	 		display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            border: 2px solid #ccc;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            z-index: 9999; 
            flex-direction: column;
   	 		max-width: 80%;
  		
            
}

.formScore h2{
  margin: 0;
  color: #4f46a5;
  text-align:center;
	
}
.formScoreform{
	
  padding: 0 16px;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-family: 'Rubik', sans-serif;
  outline: 0;
  transition: .2s;
  margin-top: 20px;
  box-sizing: border-box;
  height: 100px;	
}

.formScoreform input{
	margin-right:10px;
	padding: 12px 8px;
 font-family: "Frijole", system-ui;
	font-size:20px;
}

.formScore:focus {
  border-color: #0F7EF1;
}


.formScoreform .btn1{
  position:relative;
  padding: 12px 10px;
  border: 0;
  background: linear-gradient(to right, #de48b5 0%,#0097ff 100%); 
  border-radius: 3px;
  margin-top: 10px;
  color: #fff;
  letter-spacing: 1px;
font-family: "Permanent Marker";
  cursor:pointer;
}

.formScore .cerrar{
	
	margin-right: 8px;
}