<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>Formula1Proyect</display-name>
  <welcome-file-list>
    <welcome-file>home</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>circuitoServlet</display-name>
    <servlet-name>circuitoServlet</servlet-name>
    <servlet-class>circuitoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>circuitoServlet</servlet-name>
    <url-pattern>/circuitos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>indexServlet</display-name>
    <servlet-name>indexServlet</servlet-name>
    <servlet-class>indexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>productServlet</display-name>
    <servlet-name>productServlet</servlet-name>
    <servlet-class>productServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productServlet</servlet-name>
    <url-pattern>/tienda</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>escuderiaServlet</display-name>
    <servlet-name>escuderiaServlet</servlet-name>
    <servlet-class>escuderiaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>escuderiaServlet</servlet-name>
    <url-pattern>/escuderias</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addToCarrito</display-name>
    <servlet-name>addToCarrito</servlet-name>
    <servlet-class>addToCarrito</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addToCarrito</servlet-name>
    <url-pattern>/addToCarrito</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginNull</display-name>
    <servlet-name>loginNull</servlet-name>
    <servlet-class>loginNull</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginNull</servlet-name>
    <url-pattern>/loginNull</url-pattern>
  </servlet-mapping>
</web-app>